@charset "utf-8";
/* CSS Document Document
Scalable Data Infrastructures Sec 02
Expressions Assignment
Professor Lee Lewis
created by Marlon Rodriguez
*/

.header{
		text-align:center;
		color:#FFF;
		background-color:#CCC;
		margin: 0px;
		
}

.content{
		
		max-width: 100%;
        margin: 0 px;
        font-size: 15px;
        line-height: 27px;
        padding: 0px;
		margin: 0px;
}

.content .vegetables {
					  
					  margin: 10px;
                      float: left;
                      width: 300px;
                      padding: 5px;
					  color:#FFF;
					  text-align:center;
					  background-color:#CCC;

}

.content .fruits {
	              margin: 10px;
                  float: right;
                  width: 300px;
                  padding: 5px;
			      color:#FFF;
				  text-align:center;
				  background-color:#CCC;
				  
}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
	overflow: hidden;
}


p {
	text-align:center;
	font-size: medium;
}


